In [26]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [46]:
a = pd.read_csv('agg_match_stats_0.csv')

In [28]:
b = pd.read_csv('agg_match_stats_1.csv')

In [29]:
c = pd.read_csv('agg_match_stats_2.csv')

In [30]:
d = pd.read_csv('agg_match_stats_3.csv')

In [31]:
e = pd.read_csv('agg_match_stats_4.csv')

In [32]:
a = a[['player_dist_walk', 'player_dmg', 'team_placement', 'player_dist_ride', 'player_survive_time', 'game_size', 'party_size', 'player_kills']]
b = b[['player_dist_walk', 'player_dmg', 'team_placement', 'player_dist_ride', 'player_survive_time', 'game_size', 'party_size', 'player_kills']]
c = c[['player_dist_walk', 'player_dmg', 'team_placement', 'player_dist_ride', 'player_survive_time', 'game_size', 'party_size', 'player_kills']]
d = d[['player_dist_walk', 'player_dmg', 'team_placement', 'player_dist_ride', 'player_survive_time', 'game_size', 'party_size', 'player_kills']]
e = e[['player_dist_walk', 'player_dmg', 'team_placement', 'player_dist_ride', 'player_survive_time', 'game_size', 'party_size', 'player_kills']]
#Reduced the datasets to only the columns of interest. Did them individually because concating first took too much memory.

In [33]:
df = pd.concat([a, b, c, d, e], ignore_index=True) #concat the datasets into one

In [47]:
a.columns

Index(['date', 'game_size', 'match_id', 'match_mode', 'party_size',
       'player_assists', 'player_dbno', 'player_dist_ride', 'player_dist_walk',
       'player_dmg', 'player_kills', 'player_name', 'player_survive_time',
       'team_id', 'team_placement'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67369231 entries, 0 to 67369230
Data columns (total 7 columns):
player_dist_walk       float64
player_dmg             int64
team_placement         int64
player_dist_ride       float64
player_survive_time    float64
game_size              int64
party_size             int64
dtypes: float64(3), int64(4)
memory usage: 3.5 GB

In [26]:
df.describe() #Must try and figure out the unit of time in player_survive_time

,player_dist_walk,player_dmg,team_placement,player_dist_ride,player_survive_time,game_size,party_size
count,6.552765e+07,6.552765e+07,6.552765e+07,6.552765e+07,6.552765e+07,6.552765e+07,6.552765e+07
mean,1.320175e+03,1.273113e+02,2.383817e+01,1.188456e+03,2.896623e+04,4.702490e+01,2.738940e+00
std,4.264126e+03,1.706185e+02,1.972374e+01,2.018087e+03,4.234159e+07,2.510914e+01,1.244774e+00
min,5.000005e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00
25%,2.383585e+02,3.000000e+00,9.000000e+00,0.000000e+00,2.576520e+02,2.700000e+01,2.000000e+00
50%,9.062193e+02,8.200000e+01,1.900000e+01,0.000000e+00,6.698460e+02,4.300000e+01,2.000000e+00
75%,2.096031e+03,1.780000e+02,3.100000e+01,1.981671e+03,1.316564e+03,5.000000e+01,4.000000e+00
max,1.273645e+06,9.408000e+03,1.000000e+02,5.061754e+05,6.364822e+10,1.000000e+02,4.000000e+00

In [34]:
df = df[(df['player_dist_walk'] > 5)] 
df = df[(df['player_survive_time'] > 10)]
# Reduced the dataset to players that walked at least 5 meters
# Players that didnt manage to move are not worth analysis and were likely afk
# Player survival time seems to be measured by seconds

In [40]:
df['player_survive_time'] = df['player_survive_time'] // 60 #divide the time by 60 to convert them into minutes rounded.

In [41]:
df.party_size = df.party_size.astype('category')

In [13]:
print(df.party_size.head())

0    2
1    2
2    2
3    2
4    2
Name: party_size, dtype: category
Categories (3, int64): [1, 2, 4]

In [42]:
df_solo = df[(df['party_size'] == 1)] #created seperate dataframes for solo, duo, and squad game modes respectively 
df_duo = df[(df['party_size'] == 2)]
df_squad = df[(df['party_size'] == 4)]

In [43]:
df_solo1000 = df_solo.iloc[0:1000]
df_duo1000 = df_duo.iloc[0:1000]
df_squad1000 = df_squad.iloc[0:1000]

In [22]:
df_solo.party_size.value_counts(dropna=False) #inspecting calculations worked correctly

1    13490284
Name: party_size, dtype: int64

In [27]:
df_solo.describe()

,player_dist_walk,player_dmg,team_placement,player_dist_ride,player_survive_time,game_size,party_size
count,1.349028e+07,1.349028e+07,1.349028e+07,1.349028e+07,1.349028e+07,1.349028e+07,13490284.0
mean,1.212294e+03,1.168864e+02,4.622684e+01,9.178787e+02,9.510144e+04,9.252288e+01,1.0
std,5.409905e+03,1.640878e+02,2.662721e+01,1.882756e+03,7.749683e+07,5.854016e+00,0.0
min,5.000123e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.618300e+01,6.000000e+00,1.0
25%,1.838325e+02,0.000000e+00,2.300000e+01,0.000000e+00,2.239960e+02,9.100000e+01,1.0
50%,7.613096e+02,7.500000e+01,4.700000e+01,0.000000e+00,6.069950e+02,9.400000e+01,1.0
75%,1.874718e+03,1.640000e+02,6.800000e+01,1.224358e+03,1.206438e+03,9.600000e+01,1.0
max,1.188375e+06,9.408000e+03,1.000000e+02,4.425362e+05,6.364788e+10,1.000000e+02,1.0

In [28]:
df_duo.describe()

,player_dist_walk,player_dmg,team_placement,player_dist_ride,player_survive_time,game_size,party_size
count,2.108168e+07,2.108168e+07,2.108168e+07,2.108168e+07,2.108168e+07,2.108168e+07,21081683.0
mean,1.265737e+03,1.278202e+02,2.433857e+01,1.170244e+03,9.832392e+03,4.754208e+01,2.0
std,4.201528e+03,1.689542e+02,1.391930e+01,1.999689e+03,2.401011e+07,3.149215e+00,0.0
min,5.000028e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.097900e+01,2.000000e+00,2.0
25%,2.175973e+02,4.000000e+00,1.200000e+01,0.000000e+00,2.414080e+02,4.700000e+01,2.0
50%,8.457452e+02,8.200000e+01,2.500000e+01,0.000000e+00,6.329080e+02,4.900000e+01,2.0
75%,2.006023e+03,1.790000e+02,3.600000e+01,1.946775e+03,1.276899e+03,4.900000e+01,2.0
max,1.273645e+06,6.293000e+03,5.100000e+01,4.978240e+05,6.364822e+10,5.100000e+01,2.0

In [29]:
df_squad.describe()

,player_dist_walk,player_dmg,team_placement,player_dist_ride,player_survive_time,game_size,party_size
count,3.095559e+07,3.095559e+07,3.095559e+07,3.095559e+07,3.095559e+07,3.095559e+07,30955587.0
mean,1.404228e+03,1.315078e+02,1.374055e+01,1.318751e+03,1.317566e+04,2.684493e+01,4.0
std,3.701054e+03,1.743070e+02,7.873714e+00,2.074475e+03,2.802116e+07,1.835026e+00,0.0
min,5.000005e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.376500e+01,2.000000e+00,4.0
25%,2.830018e+02,9.000000e+00,7.000000e+00,0.000000e+00,2.848555e+02,2.600000e+01,4.0
50%,1.024872e+03,8.500000e+01,1.400000e+01,0.000000e+00,7.264000e+02,2.700000e+01,4.0
75%,2.244708e+03,1.830000e+02,2.100000e+01,2.300429e+03,1.381471e+03,2.800000e+01,4.0
max,1.263531e+06,6.323000e+03,3.600000e+01,5.061754e+05,6.364822e+10,3.600000e+01,4.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65527554 entries, 0 to 67369228
Data columns (total 9 columns):
player_dist_walk        float64
player_dmg              int64
team_placement          int64
player_dist_ride        float64
player_survive_time     float64
game_size               int64
party_size              category
player_dbno             int64
player_survival_time    float64
dtypes: category(1), float64(4), int64(4)
memory usage: 4.5 GB

In [16]:
df.dtypes

player_dist_walk         float64
player_dmg                 int64
team_placement             int64
player_dist_ride         float64
player_survive_time      float64
game_size                  int64
party_size              category
player_dbno                int64
player_survival_time     float64
dtype: object

In [12]:
df_solo.to_csv('df_solo.csv', sep=',')

In [11]:
df_duo.to_csv('df_duo.csv', sep=',')

In [13]:
df_squad.to_csv('df_squad.csv', sep=',')

In [44]:
df_solo1000.to_csv('df_solo1000.csv', sep=',')
df_duo1000.to_csv('df_duo1000.csv', sep=',')
df_squad1000.to_csv('df_squad1000.csv', sep=',')

In [25]:
print(df_solo.player_dbno > 0)

494         False
495         False
496         False
497         False
498         False
500         False
501         False
502         False
503         False
504         False
505         False
506         False
507         False
508         False
509         False
510         False
511         False
512         False
513         False
514         False
515         False
516         False
517         False
518         False
519         False
520         False
521         False
522         False
523         False
524         False
            ...
67368930    False
67368931    False
67368932    False
67368933    False
67368934    False
67368935    False
67368936    False
67368937    False
67368938    False
67368939    False
67368940    False
67368941    False
67368942    False
67368943    False
67368944    False
67368946    False
67368947    False
67368948    False
67368949    False
67368950    False
67368951    False
67368952    False
67368953    False
67368954    False
67368955    False
67368956    False
67368957    False
67368958    False
67368959    False
67368960    False
Name: player_dbno, Length: 13490284, dtype: bool